samples/*.wav filter=lfs diff=lfs merge=lfs -text
samples/*.mp3 filter=lfs diff=lfs merge=lfs -text
samples/*.flac filter=lfs diff=lfs merge=lfs -text
samples/*.ogg filter=lfs diff=lfs merge=lfs -text
